<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet Store Automation Suite" parallel="classes">
	
<listeners>
	
	<listener class-name="com.automation.utilities.ExtentReportManager"></listener>
	
</listeners>
	
	
  <test thread-count="5" name="Pet Store Automation Test">
    <classes>
      <class name="com.automation.TestSuites.UserModuleTestCases"/>
    </classes>
  </test> <!-- Pet Store Automation Test -->
</suite> <!-- Pet Store Automation Suite -->
